* {
    margin: 0;
}

#toggles {
    width: 100%;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all .6s ease-in-out;
}

a p {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    max-width: 70%;
    padding: 0;
}

a:hover {
    background-color: #00983A;
}

a.active {
    color: white;
    background-color: #00983A;
}

section {
    background-image: linear-gradient(rgba(0, 152, 58, 1), rgba(0, 152, 58, .1) 15%, rgba(255, 255, 255, 1) 20%);
    width: 100%;
    min-height: 58vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#text {
    width: 90%;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 3rem;
}

#pics {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

#pics a {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.domestic, .business {
    width: 24%;
    border-radius: 5px;
}

#pics a .cat-title {
    padding: 1rem;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    position: absolute;
    bottom: 2rem;
    font-size: 1.5rem;
    transition: all .6s ease-in-out;
}

@media only screen and (max-width: 450px) {
    .domestic {
        width: 48%;
    }

    #pics a .cat-title {
        font-size: 1rem;
    }
}

#pics a:hover .cat-title {
    background-color: #00983A;
    color: black;
    font-weight: 900;
    filter: brightness(1.5);
}

.education {
    width: 20%;
}

#start {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#pics img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#trash-finder-pic {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

fa-icon {
    font-size: 4rem;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

