<div id="toggles">
    <a *ngFor="let item of menuItems; let i = index" class="menu-item" (click)="toggleMenu(i)"
        [ngClass]="{'active': menuItems[i].show}">
        <fa-icon [icon]="item.icon"></fa-icon>
        <p>{{item?.title}}</p>
    </a>
</div>

<section *ngFor="let item of menuItems; let i = index" [ngClass]="{'hide': !menuItems[i].show}">
    <h1>{{item?.title}}</h1>
    <div id="text" [innerHTML]="item?.text">
    </div>
    <div id="pics">
        <a class="{{item.id}}" *ngFor="let sub of item.subcomponents; let j = index" (click)="openDialog(i, j)">
            <img id="{{sub?.id}}-pic" src="assets/image/activities/{{sub?.pic}}" alt="{{sub?.pic}}">
            <div class="cat-title">{{sub?.title}}</div>
        </a>
        
    </div>
</section>