* {
    margin-bottom: 3rem;
}

h1 {
    position: relative;
    top: 1%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

label, select, input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0;
    padding-left: .75rem;
}

label {
    margin-bottom: .5rem;
    text-align: center;
}

input, select {
    height: 3rem;
}

.textarea {
    height: 30vh;
    font-size: 1.5rem;
}

#sending {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: left;
    justify-content: left;
}

button {
    background-color: green;
    color: white;
}

button:disabled {
    background-color: rgba(255, 0, 0, .4);
    color: black;
}

@media only screen and (min-width: 700px) {
    form {
        width: 500px;
        align-items: center;
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        font-size: 2.6vh;
    }
    #sending {
        flex-flow: column;
    }
}