<div id="container">
    <div id="menu">
        <a id="logo" routerLink="/home">
            <img src="assets/image/logo.png" alt="logo">
        </a>
        <div id="menu-items">
            <a id="pub-data" routerLink="/pub-data">Közérdekű adatok</a>
            <a id="customer-service" routerLink="/customer-service">Online ügyfélszolgálat</a>
            <a id="legal" routerLink="/legal">Jogszabályok</a>
            <a id="authorities" routerLink="/authorities">Felügyeleti szervek</a>
            <a id="permits" routerLink="/permits">Engedélyek</a>
            <a id="archives" routerLink="/archives">Archívum</a>
        </div>
    </div>
    <div id="copy-right">
        <p>ZKN <i
            class="fa fa-copyright icons" aria-hidden="true"></i> 2020</p>
        <p>design &amp; code by <a href="https://www.tothadi.hu" target="blank">tothadi</a><p>
    </div>
</div>