<div *ngIf="showFull" id="container">
    <div id="menu">
        <a id="logo" routerLink="/home">
            <img src="assets/image/logo.png" alt="logo">
        </a>
        <div id="menu-items">
            <a id="home" routerLink="/home" routerLinkActive="active">Bemutatkozunk</a>
            <a id="news" routerLink="/news" routerLinkActive="active">Hírek</a>
            <a id="public-service" routerLink="/public-service" routerLinkActive="active">Közszolgáltatás</a>
            <a id="activities" routerLink="/activities" routerLinkActive="active">Tevékenységek</a>
            <a id="gallery" routerLink="/gallery" routerLinkActive="active">Galéria</a>
            <a id="media" routerLink="/media" routerLinkActive="active">Médiajelenlét</a>
            <a id="contact" routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
            <a id="career" routerLink="/career" routerLinkActive="active">Karrier</a>
        </div>
    </div>
    <div id="breaking">
        <figure *ngFor="let slide of slides" class="slide">
            <img (mouseleave)="sliding()" (mouseenter)="stopSlide()" src="assets/image/{{slide}}.png" alt="{{slide}}">
            <figcaption>Megállításhoz tartsa az egeret a kép fölé!</figcaption>
        </figure>
    </div>
</div>
<div *ngIf="!showFull" id="menu" class="smallmenu">
    <a id="logo" routerLink="/home">
        <img src="assets/image/logo.png" alt="logo">
    </a>
    <div id="menu-items">
        <a id="home" routerLink="/home" routerLinkActive="active">Bemutatkozunk</a>
        <a id="news" routerLink="/news" routerLinkActive="active">Hírek</a>
        <a id="public-service" routerLink="/public-service" routerLinkActive="active">Közszolgáltatás</a>
        <a id="activities" routerLink="/activities" routerLinkActive="active">Tevékenységek</a>
        <a id="gallery" routerLink="/gallery" routerLinkActive="active">Galéria</a>
        <a id="media" routerLink="/media" routerLinkActive="active">Médiajelenlét</a>
        <a id="contact" routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
        <a id="career" routerLink="/career" routerLinkActive="active">Karrier</a>
    </div>
</div>