#container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), rgba(0, 0, 0, 1));
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    overflow-x: hidden;
}

#menu {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.smallmenu {
    background-image: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .5), rgba(255, 255, 255, .6), rgba(255, 255, 255, .7), rgba(255, 255, 255, .8), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1));
}

#logo {
    height: 100%;
    width: 20%;
    max-width: 280px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#logo img {
    max-width: 90%;
    max-height: 90%;
}

#menu-items {
    height: 100%;
    width: 80%;
    max-width: 1120px;
    display: flex;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#menu-items a {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem;
    color: #515151;
}

#menu-items a.active {
    background-color: #00983A;
    color: white;
}

#breaking {
    width: 400%;
    height: 88%;
    align-self: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

.slide {
    width: 25%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide img {
    max-height: 90%;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

figcaption {
    padding: 1rem;
    font-size: 1.5rem;
    color: whitesmoke;
}