<div id="container">
    <div id="menu">
        <a id="logo" routerLink="/home">
            <img src="assets/image/logo.svg" alt="logo">
        </a>
        <div id="menu-items">
            <a id="home" routerLink="/home" routerLinkActive="active">Bemutatkozunk</a>
            <a id="news" routerLink="/news" routerLinkActive="active">Hírek</a>
            <a id="activities" routerLink="/activities" routerLinkActive="active">Tevékenységek</a>
            <a id="calendar" routerLink="/calendar" routerLinkActive="active">Hulladéknaptár</a>
            <a id="customer-service" routerLink="/customer-service" routerLinkActive="active">Online ügyintézés</a>
            <a id="contact" routerLink="/contact" routerLinkActive="active">Kapcsolat</a>
        </div>
    </div>
    <div id="breaking" #breaking>
        <figure *ngFor="let slide of slides" class="slide">
            <img (mouseleave)="startSlide()" (mouseenter)="stopSlide()" src="assets/image/{{slide}}.png"
                alt="{{slide}}">
            <figcaption>Megállításhoz tartsa az egeret a kép fölé!</figcaption>
        </figure>
        <mat-progress-bar *ngIf="showBar" id="bar" #bar mode="determinate" [style.top.px]="posY" [style.left.px]="posX"
            [style.width.px]="width" [value]="percentage"></mat-progress-bar>
    </div>
    <a class="arrow" *ngIf="showBar" (click)="toLeft()">
        <fa-icon [icon]="left" [style.top.px]="arrowY" [style.left.px]="arrowLeftX" [style.fontSize.px]="arrowSize">
        </fa-icon>
    </a>
    <a class="arrow" *ngIf="showBar" (click)="toRight()">
        <fa-icon [icon]="right" [style.top.px]="arrowY" [style.left.px]="arrowRightX" [style.fontSize.px]="arrowSize">
        </fa-icon>
    </a>
</div>