<h1>Hír hozzáadása</h1>
<div *ngIf="submitted; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div id="screen">
        <dialog [ngClass]="{
                'news-sent': status === 2,
                'news-not-sent': status === 3,
                '': status === 1
              }" open>{{sent}}</dialog>
    </div>
</ng-template>

<ng-template #elseBlock>
    <form (ngSubmit)="saveNews()">
        <div class="form-group">
            <label for="title">Cím</label>
            <input type="text" class="form-control" id="title" required [(ngModel)]="title" minlength="5" name="title"
                placeholder="hír címe" #titleInput="ngModel">
            <div class="help error" *ngIf="titleInput.invalid && titleInput.dirty">
                A címnek legalább 5 karakter hosszúságúnak kell lennie.
            </div>
        </div>

        <div class="form-group">
            <label for="text">A hír szövege</label>
            <textarea class="textarea form-control" id="text" required [(ngModel)]="text" minlength="100" name="text"
                placeholder="Írja be a hír szövegét" #textInput="ngModel"></textarea>
            <div class="help error" *ngIf="textInput.invalid && textInput.dirty">
                A hír szövegének legalább 100 karakter hosszúságúnak kell lennie.
            </div>
        </div>

        <div id="sending">

            <button mat-raised-button (click)="openUploadDialog()">Upload</button>

            <button type="submit" class="btn btn-success"
                [disabled]="titleInput.invalid || textInput.invalid || submitted">Mentés</button>
        </div>
    </form>
</ng-template>