<div id="container">
    <div id="state">
        <img id="speaker" src="assets/image/speaker_{{state}}.png" (click)="speaker()" alt="on">
        <div id="cam">
            <img src="{{frame}}" id="screen">
        </div>
        <h1>RDF üzem mérleg</h1>
        <div id="data">
            <p id="weight">{{weight}} kg</p>
        </div>
    </div>
    <div id="tables">
        <div id="toggles">
            <a id="todayBtn" (click)="toggleToday()" [ngClass]="{'active': showToday}">Mai súlyok</a>
            <a id="byDateBtn" (click)="toggleToday()" [ngClass]="{'active': !showToday}">Dátum szerint</a>
        </div>
        <div *ngIf="!showToday" id="byDate">
            <form (submit)="submit()">
                <input name="dateInput" [(ngModel)]="dateInput" id="filterDate" placeholder="2020.01.01">
                <button mat-raised-button>szűrés</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <td>Dátum</td>
                        <td>Súly</td>
                    </tr>
                </thead>
                <tbody id="byDateWeights">
                    <tr *ngFor="let dateWeight of dateWeights">
                        <td>{{dateWeight?.date | date:'yyyy. MMMM dd., EEEE, HH:mm':'+0200':'hu'}}</td>
                        <td>{{dateWeight?.weight}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="showToday" id="today">
            <table>
                <thead>
                    <tr>
                        <td>Dátum</td>
                        <td>Súly</td>
                    </tr>
                </thead>
                <tbody id="todayWeights">
                    <tr *ngFor="let todayWeight of todayWeights">
                        <td>{{todayWeight?.date | date:'yyyy. MMMM dd., EEEE, HH:mm':'+0200':'hu'}}</td>
                        <td>{{todayWeight?.weight}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div id="copy-right">
            <p>logic &amp; code by <a href="https://www.tothadi.hu" target="blank">tothadi</a>
                <fa-icon [icon]="copyright"></fa-icon>2019-2020
            <p>
        </div>
    </footer>
</div>