* {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 4rem;
}

form {
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.form-group {
    width: 20%;
}

label, select {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

select {
    margin-top: 1rem;
    height: 3rem;
}

article {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 90%;
    margin-bottom: 3rem;
    background-color: rgba(100, 100, 100, .1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

article::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

h3 {
    text-align: center;
    height: 85px;
    padding: 30px;
    font-size: 25px;
}

.date {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #00983A;
    width: 60px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.date p {
    background-color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 50px;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.gallery {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

button {
    width: 8%;
    margin: 1rem;
    color: whitesmoke;
    background-color: #00983A;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.images {
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.imgCont {
    height: 95%;
    width: 95%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    overflow-x: hidden;
}

.image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    min-width: 100%;
}

.text {
    text-align: justify;
    font-size: 1.8rem;
    width: 90%;
}

.text p {
    width: 100%;
    text-align: justify;
    word-wrap: break-word;
    margin-bottom: 2rem;
}

.sign {
    margin-top: 3rem;
}
