* {
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

article {
    position: relative;
    width: 90%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

h3 {
    text-align: center;
    height: 85px;
    padding: 30px;
    font-size: 25px;
}

#date {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #00983A;
    width: 60px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

#date p {
    background-color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
    width: 50px;
    font-size: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

img {
    width: 70%;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

#text {
    text-align: justify;
    font-size: 1.8rem;
    width: 90%;
}

#text p {
    margin-bottom: 2rem;
}