@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-basis: auto;
    font-size: 100%;
}

html {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: 'Muli', sans-serif;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    color: black;
}

.scrolloff {
    position: fixed;
    overflow: hidden;
}

h1, h2, h3, h4 {
    margin-top: 3rem;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
}

::-webkit-scrollbar {
    position: absolute;
    right: 0;
    height: 5px;
    width: 5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, .6);
    border-radius: 5px;
}

app-root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

app-menu {
    width: 100%;
}

app-home, app-not-found, app-news, app-archives, app-activities, app-authorities, app-career, app-contact, app-customer-service, app-calendar, app-legal, app-media, app-permits, app-pub-data {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-calendar {
    position: relative;
    height: 90vh;
}

app-admin {
    width: 100%;
    height: 100%;
}

.overl {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

mat-dialog-container {
    background: url(src/assets/image/background.png) repeat center;
    z-index: 1000;
    padding: 0!important;
}

.mat-progress-bar-fill::after {
    background-color: #00983A;
    border-radius: 3px;
}

.mat-progress-bar-buffer {
    background: #a9e9c1;
}

#garbage {
    height: 90%;
    width: 90%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#game {
    padding: 0;
}

#upload-news, #update-selective {
    width: 50%;
    height: 50%;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

ul {
    padding-left: 5%;
}

p, ul {
    text-align: left;
}

strong {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.red {
    color: red;
}

@media only screen and (max-width: 450px) {}