@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-basis: auto;
    font-size: 100%;
}

html {
    display: flex;
    width: 100%;
    height: 100%;
}

body {
    /*background: url(assets/image/background.png) repeat center;*/
    background-color: white;
    font-family: 'Muli', sans-serif;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    color: black;
}

h1, h2, h3, h4 {
    margin-top: 3rem;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
}

::-webkit-scrollbar {
    position: absolute;
    right: 0;
    height: 5px;
    width: 5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 50, 50, .6);
    border-radius: 5px;
}

app-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

app-menu, app-footer {
    background: url(assets/image/menu.jpg) no-repeat 70% center/cover;
    width: 100%;
    display: flex;
    justify-content: center;
}

app-footer {
    order: 2;
    /*border-radius: 5px;*/
    height: 20vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

app-home, app-not-found, app-news, app-admin, app-archives, app-activities, app-authorities, app-career, app-contact, app-customer-service, app-gallery, app-legal, app-media, app-permits, app-pub-data, app-public-service {
    width: 100%;
    min-height: 70vh;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-collecting, app-island {
    width: 100%;
    height: 100%;
}

app-merleg {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white!important;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
}

ul {
    padding-left: 5%;
}

p, ul {
    text-align: justify;
}

strong {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.red {
    color: red;
}

@media only screen and (max-width: 450px) {}