<form id="filters">
    <div class="form-group">
        <label for="city">Település</label>
        <select class="form-control" id="city" [(ngModel)]="selectedCityName" name="city" #cityInput="ngModel">
            <option *ngFor="let city of cities" [value]=city>{{city}}</option>
        </select>
    </div>

    <div *ngIf="this.selectedCity === 'Zalaegerszeg'" class="form-group">
        <label for="type">Ingatlan jellege</label>
        <select class="form-control" id="type" [(ngModel)]="selectedTypeName" name="type" #typeInput="ngModel">
            <option *ngFor="let type of types" [value]=type>{{type}}</option>
        </select>
    </div>

    <div *ngIf="this.selectedType && this.selectedCity === 'Zalaegerszeg'" class="form-group">
        <label for="street">Utca</label>
        <select class="form-control" id="street" [(ngModel)]="selectedStreet" name="street" #streetInput="ngModel">
            <option *ngFor="let street of streets" [value]=street.street>{{street?.street}}</option>
        </select>
    </div>

</form>
<form id="filtCat">
    <div *ngFor="let color of colors" class="{{color.color}} colorCodes form-group">
        <input type="checkbox" [(ngModel)]="color.show" [ngModelOptions]="{standalone: true}" (change)="colorChecked()"
            [disabled]="!this.selectedType">
        <label for="color">{{color.label}}</label>
    </div>
</form>

<h1 id="title">{{dateToShow | date:'yyyy. MMMM':'+0200':'hu'}}</h1>

<div id="calendar" #calendar>
    <div class="dayName" *ngFor="let dayName of dayNames; let i = index" [style.gridColumnStart]="i + 1"
        [style.gridColumnEnd]="i + 1">
        <h4 [style.height.px]="blockSize.height/2">{{dayName}}</h4>
    </div>
    <div class="day" *ngFor="let day of days; let d = index" [style.gridRowStart]="day.week +1"
        [style.gridRowEnd]="day.week+ 1" [style.gridColumnStart]="day.day" [style.gridColumnEnd]="day.day">
        <div class="dayBlock" [style.height.px]="blockSize.height" [style.width.px]="blockSize.width" [ngClass]="{
                'hide': !day.show,
                'today': day.today
            }">
            <div id="dayText">
                <p class="dayNum" [style.lineHeight.px]="blockSize.numSize" [style.fontSize.px]="blockSize.numSize"
                    [style.marginLeft.px]="blockSize.margin" [ngClass]="{'red': day.holiday}">
                    {{day.date}}
                </p>
                <p class="holiday" *ngIf="day.holiday && day.holiday !== 'vasárnap'"
                    [style.lineHeight.px]="blockSize.holidaySize" [style.fontSize.px]="blockSize.holidaySize"
                    [style.marginLeft.px]="blockSize.margin *2">{{day.holiday}}</p>
            </div>
            <div class="colors" *ngFor="let color of day.colors" class="{{color}}"></div>
        </div>
    </div>
</div>

<a class="arrow" *ngIf="showArrow" [style.top.px]="arrowY" [style.left.px]="arrowLeftX" (click)="prevMonth()">
    <fa-icon [icon]="left" [style.fontSize.px]="arrowSize">
    </fa-icon>
</a>
<a class="arrow" *ngIf="showArrow" [style.top.px]="arrowY" [style.left.px]="arrowRightX" (click)="nextMonth()">
    <fa-icon [icon]="right" [style.fontSize.px]="arrowSize">
    </fa-icon>
</a>