<h1>Bemutatkozunk</h1>

<div id="content">
    <figure id="marci">
        <img src="assets/image/marci.jpg" alt="Horváth Márton">
        <figcaption><strong>Horváth Márton</strong>, ügyvezető</figcaption>
    </figure>
    <div id="text">
        <div [innerHTML]="introtext"></div>
        <p id="date">Zalaegerszeg, {{date | date:'yyyy.MM.dd'}}</p>
        <p id="sign"><strong>{{sign}}</strong>, {{rank}}</p>
    </div>
    <div id="contact">
        <h3>Kapcsolat</h3>

        <h4>Központi telephely:</h4>
        <ul>
            <li>Telefon: 92/900-036</li>
            <li>Fax: 92/312-771</li>
            <li>Email: info@zkn.hu</li>
            <li>Cím: 8900 Zalaegerszeg, Gasparich u. 26.</li>
        </ul>

        <h4>Ügyfélszolgálat:</h4>
        <ul>
            <li>8900 Zalaegerszeg, Deák tér 3-5/C</li>
            <li>Telefon: +36/92 900-036/ 1-es mellék,</li>
            <li>+36/30 720 2759</li>
            <li>Nyitva tartás:</li>
            <li>Hétfő: 9.00-15.00</li>
            <li>Kedd: 9.00-17.00</li>
            <li>Szerda: 8.00-20.00</li>
            <li>(hosszabbított nyitva tartással)</li>
            <li>Csütörtök: 9.00-17.00</li>
            <li>Péntek: 9.00-15.00</li>
            <li>E-mail: ugyfelszolgalat@zkn.hu</li>
        </ul>

        <h4>Titkárság/Általános információ kérés:</h4>
        <ul>
            <li>E-mail: info@zkn.hu</li>
        </ul>


        <h4>Számlázás:</h4>
        <ul>
            <li>E-mail: szamlazas@zkn.hu</li>
        </ul>

    </div>
</div>