<h1>Bemutatkozunk</h1>

<div id="content">
    <figure id="marci">
        <img src="assets/image/marci.jpg" alt="Horváth Márton">
        <figcaption><strong>Horváth Márton</strong>, ügyvezető</figcaption>
    </figure>
    <div id="text">
        <p>A hulladékgazdálkodási közszolgáltatási tevékenység végzésének feltételeit 2013. január 1-től a Hulladékokról
            szóló 2012. évi CLXXXV. törvény szabályozza. A törvény - különböző határidőkkel - szigorú feltételeket
            állított fel a közszolgáltatás végzését ellátni kívánó gazdasági szereplők részére (meghatározott
            tulajdonosi szerkezet, nonprofit cégforma, új típusú hatósági engedélyek megszerzése).</p>
        <p>A hulladékgazdálkodási közszolgáltatási tevékenységet Zalaegerszegen és a környező településeken eddig
            végző ZALA-DEPO Kft. tulajdonosa, Zalaegerszeg Megyei Jogú Város Önkormányzata a helyzetet mérlegelve azt a
            döntést hozta, hogy a közszolgáltatási feladatok ellátására új társaságot alapít. Az új társaság feladata
            így a jogszabályi előírásoknak megfelelve Zalaegerszeg város területén a közszolgáltatás megszervezése,
            ellátása. A Közszolgáltató Kft. rövid és középtávon még nem fog önálló, saját tulajdonú műszaki hátterét
            kiépíteni, ezért a feladatainak ellátásához döntően alvállalkozói segítséget vesz igénybe. A zökkenőmentes
            közszolgáltató váltás érdekében az új Kft. irányítása és szakemberei a Zala-Depo Kft.-nél ezen a területen
            már tapasztalatot szerzett alkalmazottakból állt fel, illetve fog kibővülni.</p>
        <p>A Zalaegerszeg-Búslakpusztai Regionális Hulladéklerakó, a Zalaegerszegi hulladékudvarok üzemeltetését,
            valamint az egyedi szállítási szolgáltatásokat (pl. konténeres megrendelések épület felújításhoz, stb.)
            továbbra is a Zala-Müllex Kft. látja el.</p>
        <p id="sign">Zalaegerszeg, 2016. június 20. Horváth Márton ügyvezető</p>
    </div>
    <div id="contact">
        <h3>Kapcsolat</h3>

        <h4>Központi telephely:</h4>
        <ul>
            <li>Telefon: 92/900-036</li>
            <li>Fax: 92/312-771</li>
            <li>Email: info@zkn.hu</li>
            <li>Cím: 8900 Zalaegerszeg, Gasparich u. 26.</li>
        </ul>

        <h4>Ügyfélszolgálat:</h4>
        <ul>
            <li>8900 Zalaegerszeg, Deák tér 3-5/C</li>
            <li>Telefon: +36/92 900-036/ 1-es mellék,</li>
            <li>+36/30 720 2759</li>
            <li>Nyitva tartás:</li>
            <li>Hétfő: 9.00-15.00</li>
            <li>Kedd: 9.00-17.00</li>
            <li>Szerda: 8.00-20.00</li>
            <li>(hosszabbított nyitva tartással)</li>
            <li>Csütörtök: 9.00-17.00</li>
            <li>Péntek: 9.00-15.00</li>
            <li>E-mail: ugyfelszolgalat@zkn.hu</li>
        </ul>

        <h4>Titkárság/Általános információ kérés:</h4>
        <ul>
            <li>E-mail: info@zkn.hu</li>
        </ul>


        <h4>Számlázás:</h4>
        <ul>
            <li>E-mail: szamlazas@zkn.hu</li>
        </ul>

    </div>
</div>